In [1]:
#Libraries and settings
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pandas as pd

In [10]:
# create the training & test sets
trainData = pd.read_csv("trainData.csv", header=None)
train = trainData.iloc[:,0:].values
test = pd.read_csv("testData.csv",header=None).values

trainData.head()

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,68.0,69.0,96.0,72.0,74.0,71.0,71.0,78.0,71.0,74.0,...,73.0,77.0,76.0,82.0,76.0,73.0,82.0,75.0,75.0,76.0
1,118.0,118.0,119.0,119.0,120.0,119.0,119.0,120.0,119.0,120.0,...,117.0,115.0,116.0,116.0,115.0,115.0,110.0,117.0,117.0,116.0
2,65.0,79.0,80.0,74.0,77.0,78.0,76.0,77.0,80.0,84.0,...,74.0,97.0,121.0,128.0,135.0,133.0,121.0,87.0,77.0,68.0
3,75.0,87.0,134.0,134.0,122.0,123.0,125.0,123.0,120.0,124.0,...,127.0,130.0,137.0,133.0,130.0,129.0,124.0,131.0,134.0,129.0
4,20.0,21.0,20.0,19.0,23.0,21.0,21.0,19.0,24.0,19.0,...,20.0,17.0,20.0,20.0,21.0,22.0,20.0,15.0,15.0,18.0

In [11]:
trainLabel = pd.read_csv("trainLabels.csv")
target = trainLabel[[1]].values.ravel()

trainLabel.head()

   ID Class
0   1     n
1   2     8
2   3     T
3   4     I
4   5     R

In [13]:
# create and train the random forest
rf = RandomForestClassifier(n_estimators=100)
rf.fit(train, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [14]:
# predict on test data
pred = rf.predict(test)
pred

array(['H', 'E', '1', ..., 'A', 'R', 'A'], dtype=object)

In [5]:
# create submission file
initT = 6283
np.savetxt('submissionRandForest.csv', (np.c_[range(1+initT,len(test)+1+initT),pred]).astype(np.str), 
            delimiter=',', header = 'ID,Class', comments = '', fmt='%s')